body{
    text-align:center;
}
h1 {
    text-align:center;
}
#bigger-div {
    border:solid;
    border-color:green;
    border-width: 3px;
    background-color:powderblue;
    text-align:left;
}
#cena{
    font-size:40px;
    color: blue;
    text-transform: uppercase;
}
.outer{
    color:red;
    text-align:right;
    font-size:10px;
}
div{
    color:black;
}